:root{
    --green0: #00a087;
    --green1: #00705f;
    --white0: #ffffff;
    --white1: #f0f0f0;
    --red0: #f06469;
    --black0: #000000;
    --black1: #212529;
    --gray0: #6c757d;
    --blackChocolate: #23231a;
    --pineTree: #322F20;
    --fieldDrab: #6A5837;
    --olive: #988F2A;
    --safetyOrange: #FE5F00;


    /* paleta 1 */
    --stPatricksBlue: #1d2f6f;
    --conrflowerBlue: #8390fa;
    --maizeCrayola: #fac748;
    --lavenderBlush: #f9e9ec;
    --tickleMePink: #f88dad;


    /* paleta 2 */
    --cardinal: #ad343e;
    --davysGrey: #474747;
    --honeyYellow: #f2af29;
    --eggshell: #e0e0ce;


    /* paleta 3 */
    --silverMetallic: #ada8b6;
    --antiqueWhite: #ffeedb;
    --englishViolet: #4c3b4d;
    --maroonX11: #a53860;
    --oceanGreen: #61c9a8;

}

/* MOTYWY */

.light{
    --bg: var(--white1);
    --bg-nav: var(--green0);
    --bg-dropdown: var(--green0);
    --bg-dropdown1: var(--green1);
    --dropdown-top-border: var(--black1);
    --text: var(--black1);
    --a-text: var(--green0);
    --a-text-hover: var(--green1);
    --border: var(--green0);
    --form-border-invalid: var(--red0);
    --form-border-inactive: var(--silverMetallic);
    --input-background: var(--white0);
}

.dark{
    --bg: var(--pineTree);
    --bg-nav: var(--blackChocolate);
    --bg-dropdown: var(--pineTree);
    --text: var(--white1);

}

/* WŁAŚCIWE STYLOWANIE STRONY */

body{
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
a{
    color: var(--a-text);
    text-decoration: none;
}
a:focus,
a:active,
a:hover{
    color: var(--a-text-hover);
}

/* DROPDOWN DO MOTYWU */

.dropdown{
    position: absolute;
    width: 500px;
    opacity: 1;
    z-index: 2;
    background-color: var(--bg-dropdown);
    border-top: 2px solid var(--dropdown-top-border);

    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    margin-top: 2rem;
    padding: 0.5rem;

    box-shadow: rgba(2, 8, 20, 0.1) 0px 1em 1em;
    transform: translateX(-40%);

    transition: opacity .15s ease-out;
}

.dropdown-item a{
    width: 100%;
    height: 100%;
    size: 0.7rem;
    padding-left: 10px;
    font-weight: bold;
}

.dropdown-item{
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

.dropdown-item:hover{
    background-color: inherit;
}

.dropdown-item a::before{
    content:'';
    border: 2px solid white;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.has-dropdown:focus-within{
    opacity: 1;
    pointer-events: auto;
}





    /* navbar */

.navbar{
    background-color: var(--bg-nav)
}

.navbar a{
    color: var(--bg);
}

.navbar a:focus,
.navbar a:active,
.navbar a:hover{
    color: var(--a-text-hover);
}

.navbar-toggler{
    border-color: var(--bg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    background-color: var(--bg-dropdown1);
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/*              FORM             */

.form-control{
    border-radius: 0;
    border:none;
    border-bottom: 2px solid var(--form-border-inactive);
    transition:all .6s;
    font-size: 17px;
}

.form-control:focus, 
.form-control:hover{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--border);
}

.form-control:invalid:focus{
    border-color: var(--form-border-invalid);
}

.input-group-text{
    border: none;
    background: var(--input-background);
}

    /* buttons */

.btn{
    background-color: var(--bg-dropdown);
}

.btn, 
.btn:hover, 
.btn:focus, 
.btn:active{
    border-radius: 0;
    color: var(--bg);
    outline: none;
    box-shadow: none;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover,
.btn:focus, 
.btn:active, 
.btn:hover{
    background-color: var(--bg-dropdown1);
}

.btn-primary,
.btn-secondary{
    background-color: var(--bg-dropdown);
    color: var(--bg);
    border: none;
}

.top-buffer { margin-top:50px; }

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 400;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }

  rect{
      fill: rgb(145, 155, 155);
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }

  /*          responsywny footer */
@media only screen and (min-width: 993px) {
    #smallFooter {
        display: none;
    }
}
@media only screen and (max-width: 992px) {
    #normalFooter {
        display: none;
    }
}