body{
    color: var(--text);
    background: var(--bg);
    transition: background 500ms ease-in-out, color 1000ms ease-in-out;
}
a{
    color: var(--a-text);
    text-decoration: none;
}
a:focus,
a:active,
a:hover{
    color: var(--a-text-hover);
}

/* DROPDOWN DO MOTYWU */

.dropdown-menu{
    background-color: var(--bg-dropdown);
    
    border: none;
    border-radius: 0px;
}

.dropdown-item{
    color: var(--text);
}

.dropdown-item:active{
    background-color: var(--bg);
}

#light::before{
    content: var(--bg-light);
}

#dark::before{
    content: var(--bg-dark);
} 

.dropdown-menu a::before{
    content:'';
    border: 1px solid white;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

    /* navbar */

.navbar{
    background-color: var(--bg-nav)
}

.navbar a{
    color: var(--nav-text);
}


.navbar a:focus,
.navbar a:active,
.navbar a:hover{
    color: var(--a-text-hover);
}

.navbar-toggler{
    border-color: var(--bg);
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    background-color: var(--bg-dropdown1);
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(240,240,240)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-brand{
    height: 100px;
}


/*              FORM             */

.form-control{
    border-radius: 0;
    border:none;
    border-bottom: 2px solid var(--form-border-inactive);
    transition:all .6s;
    font-size: 17px;
}

.form-control:focus, 
.form-control:hover{
    outline: none;
    box-shadow: none;
    border-bottom: 2px solid var(--border);
}

.form-control:invalid:focus{
    border-color: var(--form-border-invalid);
}

.input-group-text{
    border: none;
    background: var(--input-background);
}

    /* buttony */

.btn{
    background-color: var(--bg-dropdown);
}

.btn, 
.btn:hover, 
.btn:focus, 
.btn:active{
    border-radius: 0;
    color: var(--nav-text);
    outline: none;
    box-shadow: none;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:hover,
.btn:focus, 
.btn:active, 
.btn:hover{
    background-color: var(--bg-dropdown1);
}

.btn-primary,
.btn-secondary{
    background-color: var(--bg-dropdown);
    color: var(--bg);
    border: none;
}

/* zdjecia */

img{	
  height:250px;	
  width:250px;	
  margin-top:20px;	
}
	
.item{	
  margin 20px;	
  transition: all 0.3s;	
}

.item:hover{	
  transform:scale(1.05);	
  -ms-transform:scale(1.05);	
  -webkit-transform:scale(1.05);	
  box-shadow: 0 0 20px;	
  background-color: #FFF;	
}
	
input{	
    width: 50px;	
    text-align: center;	

}

.simpleCart_items img{	
    max-height: 64px;	
    max-width: 64px;	
}

.informacje,.informacje:hover{	
    color:black;	
    text-decoration: none;	
}

.produkt_karty{	
    background-color: white;	

}

.item-quantity, .item-decrement, .item-increment{	
    text-align: center;	

}


.top-buffer { margin-top:50px; }

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}
  
  
  /* Featurettes
  ------------------------- */
  
.featurette-divider {
    margin: 5rem 0; 
}
  
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

rect{
    fill: rgb(145, 155, 155);
}
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
@media (min-width: 40em){
    .featurette-heading{
      font-size: 50px;
    }
}
  
@media (min-width: 62em){
    .featurette-heading{
      margin-top: 7rem;
    }
}

  /*          responsywny footer */
@media only screen and (min-width: 993px){
    #smallFooter{
        display: none;
    }
}

@media only screen and (max-width: 992px){
    #normalFooter{
        display: none;
    }
}

/* MOTYWY */

:root{
    --green0: #00a087;
    --green1: #00705f;
    --white0: #ffffff;
    --white1: #f0f0f0;
    --red0: #f06469;
    --black0: #000000;
    --black1: #212529;
    --black2: #323538;
    --silverMetallic: #ada8b6;

    --bg-light: linear-gradient(45deg, var(--green0) 0%, var(--white1) 100%);
    --bg-dark: linear-gradient(45deg, var(--black1) 0%, var(--black2) 100%);
}

.light{
    --bg: var(--white1);
    --bg-nav: var(--green0);
    --bg-dropdown: var(--green0);
    --bg-dropdown1: var(--green1);
    --dropdown-top-border: var(--black1);
    --text: var(--black1);
    --nav-text: var(--white1);
    --a-text: var(--green0);
    --a-text-hover: var(--green1);
    --border: var(--green0);
    --form-border-invalid: var(--red0);
    --form-border-inactive: var(--silverMetallic);
    --input-background: var(--white0);

}

.dark{
    --bg: var(--black1);
    --bg-nav: var(--black2);
    --bg-dropdown: var(--black2);
    --bg-dropdown1: var(--silverMetallic);
    --dropdown-top-border: var(--white1);
    --text: var(--white1);
    --nav-text: var(--white1);
    --a-text: var(--green0);
    --a-text-hover: var(--silverMetallic);
    --border: var(--white1);
    --form-border-invalid: var(--red0);
    --form-border-inactive: var(--silverMetallic);
    --input-background: var(--white0);

}